@import "../../scss/variables.scss";

.addFieldButton {
  @include shadow-1;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 4px;
  background: $color-white;
  border: 2px solid transparent;
  color: $color-grey-3;
  transition: 100ms linear;
  &:hover {
    border-color: $color-grey-2;
  }
  &:active {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.importJSON {
  cursor: pointer;
  text-align: center;
  color: $color-grey-3;
  font-size: 0.875rem;
  &:hover {
    text-decoration: underline;
  }
  input {
    display: none;
  }
}

.field {
  margin-bottom: 20px;
  position: relative;
  .dragButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    transition: 100ms linear;
    color: $color-grey-3;
    &:hover {
      background: lighten($color-grey-2, 7%);
    }
    &:active {
      background: $color-grey-2;
    }
  }
  &:last-child() {
    margin-bottom: 0;
  }
}