@import "../../scss/variables.scss";

.langSwitcher {
  display: flex;
  align-items: center;
  &__button {
    cursor: pointer;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.875rem;
    color: $color-grey-4;
    transition: 100ms linear;
    background: $color-white;
    &:hover {
      background: darken($color-grey-1, 5%);
    }
    &:active {
      background: darken($color-grey-1, 8%);
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &.active {
      background: $color-grey-4;
      color: $color-white;
      border-color: $color-grey-4;
    }
  }
}
